

@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBox("Name")

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Student number", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBox("Student number")

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Phone", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBox("Phone")

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBox("Email")

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Comments", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextArea("Comments", htmlAttributes: new { @rows = 5, @cols = 30 })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-6">
                        <input type="submit" name="submit" class="btn btn-info" value="Send" />
                        <input type="reset" name="reset" class="btn btn-warning" value="Reset" />
                    </div>
                </div>

            </div>
        }


    </div>
    <div class="col-md-6" id="Retro">
        <div class="img-thumbnail">
            <img src="~/Content/Images/retro.png" alt="Retro Vote Today" />
        </div>
    </div>
</div>